/// Base path for assets (fonts, images...),
/// should not include trailing slash
$asset-base-path: '..' !default;

@function asset($type, $file) {
  @return url($asset-base-path + '/' + $type + '/' + $file);
}

@function image($file) {
  @return asset('images', $file);
}

@function font($file) {
  @return asset('fonts', $file);
}


@font-face {
    font-family: 'OS Regular';
    src: font('Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OS Light';
    src: font('Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OS Bold';
    src: font('Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OS SemiBold';
    src: font('Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OS ExtraBold';
    src: font('Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}




// =======================
// CORE STYLING START HERE
// =======================

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6{
    color: $color-text;
}

p, a, small, button, .btn, span, label{
    font-family: 'OS Regular',tahoma,sans-serif;
    line-height: 1.5;
    font-size: 12px;
    color: $color-text;
}

a{
    color: $color-text;
    text-decoration: none;
    &:hover{
        color: $color-text;
        transition: 1s ease;
        opacity: 12px;
    }
}


.btn{
    padding: 0.385rem 0.75rem;
}

[class^="btn"]:not(:disabled):not(.disabled):active:focus,
.btn:focus, .btn.focus,
.dropdown-toggle:focus{
    box-shadow: none;
}

.form-control{
    font-size: .8em;
    color: $color-text;
    font-family: 'OS Regular';
}

.form-control:focus{
    box-shadow: none;
}


.media{
    .media-img{
        margin-right: 15px;
        padding: 15px;
        img{
            width: 40px;
            height: auto;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
    .media-body{
        align-self: center;
        font-size: 0.8em;
    }
}



// =======================
// CORE STYLING START HERE
// =======================

*::-webkit-scrollbar {
    display: none;
}
#main{
    display: block;   
}

.block{
    display: block;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width :960px){
    .block{
        max-width: 1100px;
    }
}

@media (min-width : 480px) and (max-width:960px){
    .block{
        max-width: 1100px;
    }
}

@media (min-width : 480px){
    .page{
        padding-top: 55px;
        background: #f7f7f7;
    }
}
@media (max-width : 480px){
    .page{
        padding-top: 65px;
        background: #f7f7f7;
    }
}
