body{
    &.search-open{
        header{
            .navbar{
                .toggle-logo{
                    .navbar-toggler{
                        color: $color-logo;
                    }
                    .navbar-brand{
                        color: $color-logo;
                    }
                }
                .navbar-right{
                    .nav-link{
                        color: $color-logo;
                    }
                }
            }
        }
    }
    header{
        background: white;
        max-width: 480px;
        display: block;
        margin: auto;
        .navbar{
            .toggle-logo{
                .navbar-toggler{
                    color: $color-logo;
                    display: block;
                }
                .navbar-brand{
                    color: $color-logo;
                }
            }
            .search-container{
                width: 65%;
                position: relative;
                .search-category{
                    .dropdown{
                        border-radius: 10px;
                    }
                }
                .search-form{
                    width: 100%;
                    .input-group{
                        input{
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                            width: 100%;
                            border: 1px solid $color-border;
                            background: $color-border;
                            padding: 15px;
                        }
                        .input-group-text{
                            font-size: 12px;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            border: 1px;
                            background: $color-border;
                            color: $color-logo;
                        }
                    }
                }
            }
            .navbar-right{
                .nav-link{
                    vertical-align: bottom;
                    color: $color-logo;
                    display: none;
                }
                .nav-link.wishlist{
                    font-size: 12px;
                    display: block;
                    span{
                        display: none;
                    }
                }
            }
        }
    }
}