@media (min-width: 480px){
    .layered-search{
        max-width: 980px;
        display: block;
        margin: auto;
        .layered-search-header{
            .arrow-back{
                display: none;
            }
            .clearfix{
                padding: 10px 20px ;
            }
        }
        .layered-search-body{
            .card{
                overflow: hidden;
                border-color: white;
                .card-header{
                    background-color: white;
                    border-color: $color-border;
                    h6{
                        cursor: pointer;
                    }
                }
                .card-body{
                    padding:10px;
                }
            }
    
            .list-group {
                flex-direction: row;
                flex-wrap: wrap;
                .list-group-item{
                    border-width: 0;
                    padding: 0;
                    span, label{
                        margin-left: 10px;
                    }
                    .badge{
                        background-color: $color-logo;
                        color: white;
                        font-size: 10px;
                    }
                    input[type="radio"], input[type="checkbox"]{
                        display: none;
                    }
                    label{
                        border: 2px solid $color-border;
                        padding: 10px 15px;
                        border-radius: 15px;
                        margin-left: 0;
                        margin-right: 10px;
                    }
                    input[type="checkbox"]:checked + label, 
                    input[type="radio"]:checked + label{
                        border-color: $color-logo;
                    }
                }
            }
        }
        .layered-search-footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            max-width: 980px;
            // left: 0;
            // right: 0;
            .card{
                border-width: 0;
            }
            button{
                color: white;
            }
        }
    }
}
@media (max-width: 480px){
    .layered-search{
        width: 100%;
        .layered-search-header{
            border-bottom: 1px solid $color-border;
            .clearfix{
                padding: 10px 20px ;
                .arrow-back{
                    float: left;
                    margin-right: 15px;
                }
                h5{
                    margin-top: 2px;
                }
            }
        }
        .layered-search-body{
            padding-bottom: 100px;
            .card{
                overflow: hidden;
                border-color: white;
                .card-header{
                    background-color: white;
                    border-color: $color-border;
                    h6{
                        cursor: pointer;
                    }
                }
                .card-body{
                    padding:10px;
                }
            }
    
            .list-group {
                flex-direction: row;
                flex-wrap: wrap;
                .list-group-item{
                    border-width: 0;
                    padding: 0;
                    span, label{
                        margin-left: 10px;
                    }
                    .badge{
                        background-color: $color-logo;
                        color: white;
                        font-size: 10px;
                    }
                    input[type="radio"], input[type="checkbox"]{
                        display: none;
                    }
                    label{
                        border: 2px solid $color-border;
                        padding: 10px 15px;
                        border-radius: 15px;
                        margin-left: 0;
                        margin-right: 10px;
                    }
                    input[type="checkbox"]:checked + label, 
                    input[type="radio"]:checked + label{
                        border-color: $color-logo;
                    }
                }
            }
        }
        .layered-search-footer{
            width: 100%;
            .card{
                border: none;
                .card-body{
                    padding: 10px;
                }
            }
            button{
                color: white;
                font-family: 'OS Bold';
            }
        }
    }
}