.layered-search{
    height: 100vh;
    padding-top: 10px;
    .card{
        overflow: hidden;
        border-color: white;
        border-radius: 0;
        .card-header{
            background-color: white;
            border-color: $color-border;
            h6{
                cursor: pointer;
            }
        }
        .card-body{
            padding:10px;
        }
    }
    .layered-search-header{
        .clearfix{
            padding: 10px 20px ;
        }
    }
    .layered-search-body{
        padding-bottom: 80px;

        .list-group {
            flex-direction: row;
            flex-wrap: wrap;
            .list-group-item{
                border-width: 0;
                padding: 0;
                span, label{
                    margin-left: 10px;
                }
                .badge{
                    background-color: $color-logo;
                    color: white;
                    font-size: 10px;
                }
                input[type="radio"], input[type="checkbox"]{
                    display: none;
                }
                label{
                    border: 2px solid $color-border;
                    padding: 10px 15px;
                    border-radius: 15px;
                    margin-left: 0;
                    margin-right: 10px;
                }
                input[type="checkbox"]:checked + label, 
                input[type="radio"]:checked + label{
                    border-color: $color-logo;
                }
            }
        }
    }
    .layered-search-footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        max-width: 512px;
        button{
            color: white;
        }
    }
}