
.product-item-wrapper{
    padding:5px;
    .card{
        border-radius: 5px;
        border-width: 0;
        min-height: 320px;
        overflow: hidden;
        position: relative;
        border-color: white;
        &:hover{
            border-width: 1px;
            border-color: $color-logo;
            transition: .5s ease;
        }
        .card-img{
            height: 150px;
            max-height: 150px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .card-body{
            padding:10px;
            position: relative;
            small{
                font-size: 10px;
                .store{
                    color: $color-logo;
                }
            }
            p{
                margin-bottom: 0;
                &.product-brand, &.product-name{
                    font-family: 'OS SemiBold';
                }
                &.product-name{
                    color: #dc732d;
                    font-size: 12px;
                }
            }
            .price-wrapper{
                position: absolute;
                bottom: 10px;
                width: 100%;
                right: 10px;
                left: 10px;
                .label{
                    display: inline-block;
                    padding-right: 15px;
                }
                .special-price p{
                    color: #dc732d;
                    font-family: 'OS SemiBold';
                    font-size: 14px;
                }
                .old-price{
                    font-family: 'OS Regular';
                    text-decoration: line-through;
                }
            }
        }
        .card-footer{
            background: none;
            border: none;
            text-align: center;
            padding: 5px;
            .btn{
                color: white;
            }
        }
        .card-action-wishlist{
            position: absolute;
            top: 10px;
            right: 10px;
            button{
                background: white;
                padding: 7px 0px;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                border-width: 0;
            }
        }
    }
}