$common : true;
$color-logo : rgb(33, 151, 49);
$color-text : #444444;
$color-border: #f3f3f3;
$bg-primary : rgb(33, 151, 49);

@import 'core';
@import 'header';
@import 'megamenu';
@import 'slider';
@import 'page_home';
@import 'brands';
@import 'footer';
